.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "m h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "m f f f f f f f f f f f"
}

.header {
    grid-area: h;
}

/* going to use grid-area for header, means you have to add grid-template-area to container
Must add a string for EACH row
number of variables must match number of columns 
visual rep of how the grid should look
REMOVE the grid-column commands after using grid-template-areas
. gives you a BLANK cell
MUST be rectangular shaped
*/


.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}