.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
    grid-column: 2 / -1;
}

/*
changed from grid-column: 1 / -1; because need to open up space in first column for sidebar
*/

.menu {
    grid-row: 1 / 4;
}

/* spans from first row line to the 2rd row line */

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 2 / -1;
}

/*
grid-column: 1 / 3;  can also be written grid-column: 1 / span 2;
also can be grid-column: 1/ -1
*/